@import "~bootstrap/dist/css/bootstrap.css";

/* body {
background-color:aqua;
} */

.form {
    background-color: aqua;
   text-align: center;
}
h1{
    background-image: url("./assets/read.jpg");
    font-style: italic;
    color: aquamarine;
    text-align: center;
}