@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-image: url("./assets/read.jpg")
}

.form {
  background-color: #007991;
  text-align: center;
}

h1 {
  font-style: italic;
  text-align: center;
}

.quotes {
  background-color: #78ffd6;
}
